.container {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 768px;
    height: 100vh;
    font-family: "S-CoreDream-3Light";
}

.content {
    margin-top: 10vh;
    height: 25vh;
    align-items: center;
}

button {
    border: none;
}

.slider {
    width: 100%;
}

.top {
    height: 15vh;
    padding: 2rem;
}

.counter {
    font-size: 2rem;
    font-weight: bold;
    height: 10vh;
}

.current_progress {
    color: #ed6174;
    font-size: 1.5em;
}

.end_progress {
    color: #e8e7e6;
}

.club_question {
    color: #4e4e4e;
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: center;
}

.answer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;

    /* height: 100vh; */
}

.answer_btn {
    display: flex;
    width: 40vw;
    margin: 1rem;
    padding: 1.2rem;
    box-sizing: border-box;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 6px;
    border-color: #d0d0d0;
    color: rgba(110, 110, 110, 1);
    font-size: 1rem;
    font-weight: 600;
}

.loading__container {
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    margin-top: 40vh;
}

.loading__container h2 {
    padding: 2rem;
}

.loading {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid #ed6174;
    border-top: 1px solid white;
    animation: spin 2s linear infinite;
}

.answer_btn:active {
    color: #fff;
    background-color: #ed6174;
    border: none;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .club_question {
        font-size: 1.2rem;
    }

    .answer_btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
        width: 60%;
    }
}