.middle h2 {
	margin-top: 15vh;
	padding: 1rem;
	font-size: 1.5rem;
	text-align: center;
}
.middle p {
	padding: 0.2rem;
	font-size: 14px;
	text-align: center;
}
.wrapper {
    display: flex;
	flex-direction: column;
    justify-content:center; 
    align-items : center;
	font-family: "S-CoreDream-3Light";
}

.container {
    display: flex;
	margin: 0 auto;
	width: 768px;
	height: 100vh;
	border-radius: 12px;
}

button {
	margin-bottom: 1rem;
	margin-top: 10px;
	width: 20vw;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	background-color: #ed6174;
	color: #fff;
	font-family: "S-CoreDream-3Light";
}

button:active {
	color: #fff;
	background-color: #f54269;
	transform: scale(0.95);
	transition: 10ms;
	border: none;
}

.club_icon {
	width: 100px;
}

.icon {
	margin-left: 6px;
}

.header {
	font-weight: bolder;
}

@media (max-width: 768px) {
	.logo {
		width: 18vw;
	}

	button {
		width: 60vw;
	}
}
