.App {
  text-align: center;
}

.background_wrapper {
  background-image: url(./common/img/background.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  /* width: 768px; */
  background-color: white;
}

@media (max-width: 768px) {
  .App {
    background-image: none;
    background-color: white;
  }
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}